<app-common-layout [title]="title" [text]="text">

  <ng-container content>

    <div class="content-wrapper">

<!--      Could be generalized as a custom component to reuse-->
      <div class="icon-and-category-selector" [matMenuTriggerFor]="menu" (menuOpened)="menuOpened = true" (menuClosed)="menuOpened = false">
        <div class="name">{{selectedCategory || 'Category'}}</div>
        <mat-icon>{{menuOpened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </div>

      <mat-menu #menu="matMenu" class="material-menu">
        <button mat-menu-item class="category-option" *ngFor="let category of (categoriesList | async)"
                [ngClass]="{'selected': selectedCategory === category}"
                (click)="selectedCategory = category">
          {{category}}
        </button>
      </mat-menu>

      <button class="app-button" [disabled]="!selectedCategory" (click)="onSubmitCategory()">Submit</button>
      <button class="app-button" (click)="onViewPrevScores()">View Previous Scores</button>

    </div>

  </ng-container>

</app-common-layout>

