<ng-container class="wrapper" *ngIf="activeToken">

  <app-home-page
    *ngIf="activePage === ActivePage.Home"
    (categorySubmitted)="onCategorySubmit($event)"
    (goToScores)="showScoresPage()"
  ></app-home-page>

  <app-quiz-page
    *ngIf="activePage === ActivePage.Quiz"
    [category]="selectedCategory"
    [completeQuiz]="completedQuiz"
    (backToHome)="onBackToHome()"
    (backToPrevScores)="showScoresPage()"
  ></app-quiz-page>

  <app-previous-scores
    *ngIf="activePage === ActivePage.PrevScores"
    (onReviewQuiz)="reviewPrevQuiz($event)"
    (onBackToHome)="onBackToHome()"
  ></app-previous-scores>

</ng-container>
