<app-common-layout  *ngIf="currentQuiz?.tasks?.length"
  [title]="layoutTitle"
  [text]="layoutText"
  [label]="layoutLabel">

  <ng-container content>
    <div class="quiz-answers" *ngIf="currentQuiz.tasks[activeTaskIndex]">
      <div class="answer-item"
           (click)="selectAnswer(option)"
           *ngFor="let option of currentQuiz.tasks[activeTaskIndex].answers"
           [ngClass]="{
           'incorrect': completeQuiz && currentQuiz.tasks[activeTaskIndex].userAnswer === option,
           'correct': completeQuiz && currentQuiz.tasks[activeTaskIndex].correctAnswer === option
           }">
        {{option}}
      </div>
    </div>

    <div *ngIf="completeQuiz">
      <button *ngIf="activeTaskIndex > 0" class="app-button" (click)="reviewPrevQuestion()">
        Previous
      </button>
      <button *ngIf="activeTaskIndex < completeQuiz.tasks.length - 1" class="app-button" (click)="reviewNextQuestion()">
        Next
      </button>
      <button class="app-button" (click)="backToPrevScores.emit()">
        Back To Previous Scores
      </button>
      <button class="app-button" (click)="backToHome.emit()">
        Back To Home
      </button>
    </div>

    <div>
      <button *ngIf="activeTaskIndex === currentQuiz.tasks.length" class="app-button" (click)="backToHome.emit()">
        Back to Home
      </button>
    </div>
  </ng-container>

</app-common-layout>
